* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: cornflowerblue;
}

#desktop-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#mobile-nav {
    display: none;
}

.logo-link, .logo-link h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: color 125ms ease-in 125ms ;
}



.links {
    height: 32px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.links a {
    color: black;
    text-decoration: none;
    transition: color 125ms ease-in 125ms ;
    padding: 0 0 0 8px;
}

.logo-link h1:hover, .links a:hover {
    color: cornflowerblue;
}

#header {
    width: 100vw;
    background-color: lightgray;
    display: flex;
    padding: 32px 24px;
}


#header-img {
    width: 60%;
    
}

#header-img > img, #main-img > img {
    width: 100%;
}

.header-link {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.75vw ;
}

p, a {
    font-size: 1.5vw;
}

.header-link button {
    background-color: rgb(48, 48, 48);
    color: white;
    /* padding: 8px 0; */
    width: 25vw;
    height: 48px;
    align-self: center;
}

#main {
    display: flex;
    width: 100vw;
    padding: 32px 24px;
}


#main-img  {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* flex: 0 1 auto; */
}


#main-gallery {
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    border: 1px solid lightgray;
}

/* 
Try messing with % for the images instead */
 .main-gallery-img > img, .vid-gallery-div > img{
    width: 12vw;
}

.main-gallery-img .mobile-img {
    display: none;
 }


.gallery > .main-gallery-text, .vid-gallery-div > .vid-gallery-text {
    width: 20vw;
    height: 100%;
    text-align: center;
} 

 .grey-div {
    background-color: lightgray;
}

#course {
    width: 100vw;
  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: lightgray;
    padding: 32px 72px;
}


#learn-gallery {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
}

.gallery-div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 25vw;
    height: 27.5vw;
    background-color: white;
    margin: 16px;
}

.gallery-div img {
    height: 50%;
}

.gallery-padding {
    height:50%;
    padding: 8px;
}

.gallery-padding > p {
    font-size: 1.25vw;
}

#thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 32px 24px;
}

#thesis-header {
    text-align: center;
}

#vid-media-container {
    display: flex;
    width: 100%;
}

#video-container {
     width: 60%;  
}

#video-container > video {
    width: 100%;
}

#vid-gallery-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.vid-gallery-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 24px ;
}

.terms {
    display: flex;
} 

.terms a {
    padding: 0 0 0 16px;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    body {
            width: 100vw;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            margin: 0;
    }

    h2 {
        font-size:8vw;
    }

    h3 {
        font-size: 6vw;
    }

    p, a {
        font-size: 5vw;
    }

    #mobile-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        background-color: lightgray;
    }

    #header-img {
        width: 100%
    }

    .header-link {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .header-link > * {
        margin: 32px 16px;
    }

    #header button {
        width: 50%;
    }

    #desktop-nav,
    #main-img, 
    footer .terms, 
    .gallery-div img, 
    .gallery-div p, 
    #vid-gallery-container, 
    #video-container p, 
    #video-container h3 {
        display: none;
    }

    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid lightgray;
    }

    #main-gallery {
        width: 100%;
        padding: 0;
        display: flex;
        border: none;
    }

    #main-gallery .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 16px;
    }

    .main-gallery-img {
        width: 90%
    }

    .main-gallery-img .desktop-img {
       display: none;
    }

    .main-gallery-img .mobile-img {
        width: 100%;
    }

    #grey-div {
        background-color: white;
    }

    .gallery > .main-gallery-text, .vid-gallery-div > .vid-gallery-text {
        width: 100%;
        text-align: center;
        padding: 16px;
    } 

    .main-gallery-text * {
        margin: 8px 0;
    }

    #course {
        background-color: white;
        width: 100%;
        border-bottom: 1px solid lightgray;
        padding: 0;
    }

    #learn-gallery {
        display: flex;
        flex-flow: column nowrap ;
    }

    #learn-gallery .gallery-div {
        width: 100%;
        height: auto;
        padding: 16px;
        margin-bottom: 16px;
        background-color: lightgray;
        text-align: center;
    }


    /* .gallery-div img, .gallery-div p {
        display: none;
    } */

    .gallery-div * {
        margin: 0;
        
    }

    #thesis {
        border-bottom: 1px solid lightgray;
        padding: 0;
    }

    #vid-media-container, #video-container {
        width: 100%;
    }


    /* #vid-gallery-container, #video-container p, #video-container h3 {
        display: none;
    } */

    footer {
        display: flex;
        justify-content: center;  
    }

    .copyright p, .terms p {
        font-size: 4vw;
    }

    /* footer .terms {
        display: none;
    } */
  
}