* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: cornflowerblue;
}

#desktop-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#mobile-nav {
    display: none;
}

.logo-link, .logo-link h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: color 125ms ease-in 125ms ;
}



.links {
    height: 32px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.links a {
    color: black;
    text-decoration: none;
    transition: color 125ms ease-in 125ms ;
    padding: 0 0 0 8px;
}

.logo-link h1:hover, .links a:hover {
    color: cornflowerblue;
}

#header {
    width: 100vw;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    padding: 4em 4em;
}


 #header > img {
    width: 40vw;
    height: auto;
}

.header-link {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.header-link h2 {
    font-size: 1.8em;
}

.header-link p {
    font-size: 1.25em;
}

.header-link button {
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 8px 0;
    width: 100%;
    height: 48px;
    align-self: flex-start;
}

#main {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}


#main-img  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex: 0 1 auto; */
}

#main-img > * {
    width: 40vw;
    height: auto;
}

#main-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
   
}

.main-gallery-img, .main-gallery-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .main-gallery-img > img{
    width: 8vw;
    height: 8vw;
}


.gallery > .main-gallery-text {
    width: 10vw;
    height: 20vw;
    text-align: center;
    font-size: .7em;
}

/* .grey-div, .grey-div-two {
    background-color: lightgray;
} */

#course {
    width: 100vw;
  
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: lightgray;
    padding: 32px;
}



#learn-gallery {
    
   
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;

}

.gallery-div {
    display: flex;
    flex-flow: column nowrap;
    
    background-color: white;
    
}

/* .gallery-div img {

} */

.gallery-padding * {
    padding: 8px;
}

#thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thesis-header {
    /* width: 100%;
    height: 20%; */
    text-align: center;
}

#vid-media-container {
    display: flex;
    /* width: 100%; */
}

/* #video-container {
    /* width: 60%; 
    padding: 32px 24px; */
} */

/* #video-container > video {
    width: 100%;
} */

#vid-gallery-container {
    display: flex;
    flex-direction: column;
    /* width: 40%;
    padding: 32px 24px; */

}


#vid-gallery-container .vid-gallery-one {
    background-color: lightgray;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 24px ;
}

.terms {
    display: flex;
} 

.terms a {
    padding: 0 0 0 16px;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    body {
            margin: auto;
            padding: 0;
            width: auto;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
    }

    #mobile-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: lightgray;
        
        margin: 0;
    }

    #header img {
        width: 100%;
        padding: 0;
    }

    #header .header-link {
        display: flex;
        justify-content: center;
        width: auto;
        padding: 32px 16px;
        margin: 0;
        text-align: center;
    }

    .header-link > * {
        margin: 0;
        padding: 0 0 16px 0;
        
    }

    #header button {
        width: 100%;
    }

    #desktop-nav,
    #main-img, 
    footer .terms, 
    .gallery-div img, 
    .gallery-div p, 
    #vid-gallery-container, 
    #video-container p, 
    #video-container h3 {
        display: none;
    }

    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 16px 16px 32px 16px;
        border-bottom: 1px solid lightgray;
    }

    #main-gallery {
        width: 100%;
        padding: 0;
        display: flex;
        border: none;
    }

    #main-gallery .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  

    .gallery img {
        width: 90%;
        height: 45%;
    }

    #grey-div {
        background-color: white;
    }

    .gallery .main-gallery-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-gallery-text * {
        margin: 8px 0;
    }

    #course {
        background-color: white;
        width: 100%;
        height: auto;
        border-bottom: 1px solid lightgray;
    }

    #learn-gallery {
        display: flex;
        flex-flow: column nowrap ;
    }

    #learn-gallery .gallery-div {
        width: 100%;
        padding: 16px;
        margin-bottom: 16px;
        background-color: lightgray;
        text-align: center;
    }


    /* .gallery-div img, .gallery-div p {
        display: none;
    } */

    .gallery-div * {
        margin: 0;
        
    }

    #thesis {
        border-bottom: 1px solid lightgray;
    }

    #vid-media-container, #video-container {
        width: 100%;
    }


    /* #vid-gallery-container, #video-container p, #video-container h3 {
        display: none;
    } */

    footer {
        display: flex;
        justify-content: center;
    }

    /* footer .terms {
        display: none;
    } */
  
}